body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    text-align: center;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.Temp {
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: 15em;
    margin-bottom: 30em;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: #34b7a7;
  }